

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Spoonacular</title>
    <link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Plugins/fontawesome-free/css/all.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition ">
    <div class="wrapper">
        @{ Html.RenderAction("Navbar", "User");}
        @Html.Partial("_SideBar")
        <div class="content-wrapper bg-white">
            @RenderBody()
        </div>
      
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AdminLTE/adminlte.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
