@model SpoonacularConcept.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div style="height:100vh" class="login-overlay" >

    </div>
        <div class="logincard d-flex flex-column justify-content-center">
            
                <h3 class="text-center font-weight-light my-3">Login</h3>
                @using (@Html.BeginForm(actionName:"Login",controllerName:"User"))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "font-weight-normal" })
                        @Html.TextBoxFor(m=>m.Email,new { @class="form-control" })
                        @Html.ValidationMessageFor(m=>m.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password,new {@class="font-weight-normal" })
                        @Html.TextBoxFor(m=>m.Password,new { @class="form-control" })
                        @Html.ValidationMessageFor(m=>m.Password)
                    </div>
                    <button class="btn btn-outline-dark btn-sm my-2 px-3" style="margin-left:50%;transform:translateX(-50%)">Login</button>
                }    
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
